body{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
#head{
	background-color:blue;
	width:100%;
	height:50px;	
}
#menu{
	margin-left:15%;
}
#search{
	margin-top:5px;
	margin-right:45px;
}

#container{
	margin-top:48px;
	width:inherit;
	height:inherit;
}

#content{
	margin-left:-10%;
	width:60%;
	height:inherit;
	margin-top: -15.6%;/*-14% -20%*/
	border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

#login{
	margin-left:78%;
	margin-top:10%;
	border-style: solid;
	border-width: 1px;
    border-color: #ccc;
    height:200px;
    
}

/*Menu*/

.nav,.nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.nav {
    position:relative;
}

.nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:49px;
}

.nav li {
    float:left;
    position:relative;
}

.nav li a {
    -moz-transition:0s;
    -o-transition:0s;
    -webkit-transition:0s;
    background-color:blue;
    border-right:1px solid white;
    color:#FFF;
    display:block;
    font-size:16px;
    line-height:35px;
    padding:7.2px 20px;
    text-decoration:none;
    transition:0s;
}

.nav li:hover ul.subs {
    height:auto;
    width:180px;
}



.nav ul li {
    -moz-transition:0s;
    -o-transition:0s;
    -webkit-transition:0s;
    opacity:0;
    transition:0.5s;
    width:100%;
}

.nav li:hover ul li {
    opacity:1;
    -moz-transition-delay:0s;
    -o-transition-delay:0s;
    -webkit-transition-delay:0s;
    transition-delay:0s;
}



.nav li:hover ul li a {
    line-height:35px;
}

.nav ul li a:hover {
    background:#0000FF;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,25,0));
}

textarea {
    resize: none;
}

input[type="number"] {
   width:200px;
}